@font-face {
    font-family: 'Chillax-Regular';
    src: url('./Chillax-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Chillax-Regular';
    box-sizing: border-box;
}


/* Default (Dark Mode) */
body {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Mode */
body.light-mode .container{
    background-image: url(bg-movi.gif);
    background-size: cover;
}

body.light-mode .todo-app {
  background-color: rgba(212, 212, 212, .3);
  backdrop-filter: blur(3px);
  border: .5px solid #eaeaea;
  box-shadow: 0px -2px 6px rgba(212, 212, 212, .8);
}

body.light-mode .header-logo{
    color: #000;
}

body.light-mode .row-input {
    background-image: url(contained.png);
    background-size: cover;
    position: relative; 
}

body.light-mode .row-input .bg-blur{
    backdrop-filter: blur(3px);
    position: absolute;
    height: 102%;
    width: 101%;
    border-radius: 15px;
}

body.light-mode button {
  background-color: #ededed;
  color: #000;
  border: .5px solid #fff;
  box-shadow: 0px 1.5px 4px #ffffff;
}

body.light-mode .todos-area {
    background-color: rgba(62, 162, 255, 0.3);
    backdrop-filter: blur(3px);
    border: .5px solid #efffff;
}

body.light-mode .todos-area #list-container li{
    background: linear-gradient(45deg,  rgb(119, 95, 255, .5), rgb(255, 189, 243, .5));
    color: #000;
    border: .8px solid rgb(200, 200, 200);
}

body.light-mode .todos-area #list-container li span{
    color: #000;
}

/* Toggle Button */
.theme-toggle {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0px 1px 4px #d4d4d4;
    border: none;
    padding: 5px 8px;
    border-radius: 12px;
    cursor: pointer;
    color: inherit;
    transition: transform 0.2s;
    position: absolute;
    top: 15px;
    right: 18px;
}

/* When body is dark mode */
body:not(.light-mode) .theme-toggle {
  background-color: #fff;
  color: #000;
}

.dark-mode {
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: 0px 1px 4px #d4d4d4;
    border: none;
    padding: 5px 8px;
    border-radius: 12px;
    cursor: pointer;
    color: inherit;
    transition: transform 0.2s;
    position: absolute;
    top: 15px;
    right: 18px;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    width: 100vw;
    background: inherit;
    padding: 5vh 5vw;
}

.todo-app{
    position: relative;
    width: 85vw;
    background-color: #171717;
    border: .8px solid rgba(138, 138, 138, .5);
    border-radius: 20px;
    padding: 5vh 5vw;
}

.header-logo{
    height: 10vh;
    width: 100%;
    color: white;
}

.header-logo h1{
    font-size: 5vw;
    margin-right: 2vw;
}

.header-logo img{
    width: 5vmax;
    border-radius: 13.5px;
    box-shadow: 0px 1px 4px rgba(119, 119, 119, .7);
}

.row-input{
    height: 15vh;
    width: 70%;
    background: #272727;
    margin-top: 4.5vh;
    margin-left: 12vw;
    border: .8px solid rgba(138, 138, 138, .5);
    border-radius: 15px;
    position: relative;
}

.row-input .bg-blur{
    position: absolute;
    height: 100%;
    width: 100%;
}

.row-input input{
    height: 5vh;
    width: 65%;
    margin-right: 5vw;
    padding: 5px 6px;
    background-color: #fafafa;
    border-radius: 8px;
    border: .8px solid #8a8a8a;
    box-shadow: 0px -2px 3px #525252 inset;
}

.row-input button{
    height: 5vh;
    width: 10%;
    border: .8px solid rgba(158, 158, 158, 0.8);
    border-radius: 8px;
    color: #fafafa;
    background-color: #171717;
    box-shadow: 0px 1.5px 4px rgba(119, 119, 119, .7),
                0px 1px 4px rgba(158, 158, 158, 0.8) inset;
    cursor: pointer;
}

.todos-area{
    min-height: 40vh;
    width: 100%;
    background: #262626;
    margin-top: 4vw;
    border: .8px solid rgba(158, 158, 158, 0.5);
    border-radius: 15px;
    padding: 3vh 1.5vw;
}

.todos-area .empty-text{
    color: #555;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.todos-area .hidden {
  opacity: 0;
}

.todos-area #list-container{
    flex-direction: column;
}

.todos-area #list-container li{
    background-color: #000;
    color: #d4d4d4;
    list-style: none;
    width: 60%;
    padding: .8vh 5vw;
    margin-bottom: 2vh;
    position: relative;
    border: .8px solid rgba(187, 187, 187, 0.8);
    border-radius: 8px;
    user-select: none;
    transition: all .5s ease-in-out;
    word-wrap: break-word;
    cursor: pointer;
}

.todos-area #list-container li::before{
    content: '';
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 8px;
    left: 10px;
    height: 15px;
    width: 15px;
    margin-right: 100px;
    border-radius: 8px;
    transition: all .5s ease-in-out;
}

.todos-area #list-container li.checked{
    color: #555;
    text-decoration: line-through;
}

.todos-area #list-container li.checked::before{
    background-image: url(checked1.png);
    height: 15px;
    width: 15px;
    border-radius: 8px;
}


.todos-area #list-container li span{
    position: absolute;
    top: 0;
    right: 7px;
    cursor: pointer;
    color: #d4d4d4;
}