@font-face {
    font-family: "Chillax-Regular";
    src: url(./font/Chillax-Regular.ttf);
}
@font-face {
    font-family: "Chillax-Bold";
    src: url(./font/Chillax-Bold.ttf);
}

:root{
    /* -- Font - Sizes -- */
    --text-h1: 4rem;
    --text-h2: 3.5rem;
    --text-h3: 3rem;
    --text-h4: 2.5rem;
    --text-h5: 2rem;
    --text-h6: 1.8rem;
    --text-para: 1.5rem;

    /* -- Font - Family -- */
    --font-family: "Chillax-Regular";

    /* -- dark mode - Colors -- */
    /* -- bg - colors -- */
    --bg-out: hsl(0, 0%, 10%);
    --bg-dark: hsl(0, 0%, 15%);
    --bg: hsl(0, 0%, 20%);
    --bg-light: hsl(0, 0%, 25%);
    --bg-xlight: hsl(0, 0%, 88%);
    /* -- text - colors -- */
    --text: hsl(0, 0%, 10%);
    --text-muted: hsl(0, 0%, 50%);
    /* -- border - colors -- */
    --border: hsl(0, 0%, 50%);
    /* -- gradient - colors -- */
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
    /* -- highlighted - colors -- */
    --highlight: hsl(0, 0%, 90%);
    /* -- border - card -- */
    --border-card: 1px solid var(--border);
    /* -- shadow - color -- */
    --shadow: 0px 2px 2px hsla(0, 0%, 100%, .07),
                0px 4px 4px hsla(0, 0%, 100%, .15);
    --brand-shadow: 0px 1.5px 1.5px hsl(181, 95%, 78%),
                0px 3.5px 3.5px hsl(181, 50%, 60%);
    /* -- brand - colors -- */
    --brand-primary: #1D43F9;
    --brand-secondary: rgb(3, 79, 129);

    /* -- Spacing - Variables -- */
    --space-xs: .4rem;
    --space-sm: .8rem;
    --space-md: 1.6rem;
    --space-lg: 2.4rem;
    --space-xl: 3.2rem;
    --space-2xl: 4rem;
    --space-3xl: 4.8rem;

    /* -- Border - Color -- */
    --border-color: rgb(181, 181, 181);

    /* -- Border - Radius -- */
    --border-radius-xs: .4rem;
    --border-radius-sm: .8rem;
    --border-radius-md: 1.6rem;
    --border-radius-lg: 2.4rem;
    --border-radius-xl: 3.2rem;
    --border-radius-2xl: 4rem;
    --border-radius-3xl: 4.8rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: "Chillax-Regular";
    background-color: var(--bg-out);
}
body.light{
    /* -- light mode - Colors -- */
    /* -- bg - colors -- */
    --bg-out: hsl(0, 0%, 100%);
    --bg-dark: hsl(0, 0%, 92%);
    --bg: hsl(0, 0%, 86%);
    --bg-light: hsl(0, 0%, 80%);
    /* -- text - colors -- */
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
    /* -- border - colors -- */
    --border: hsl(0, 0%, 60%);
    /* -- gradient - colors -- */
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
    /* -- highlighted - colors -- */
    --highlight: hsl(0, 0%, 40%);
    /* -- border - card -- */
    --border-card: 1px solid var(--border);
    /* -- shadow - color -- */
    --shadow: 0px 2px 2px hsla(0, 0%, 0%, .07),
                0px 4px 4px hsla(0, 0%, 0%, .15);
}

.container{
    max-width: 1300px;
    width: 100%;
    min-height: 100vh;
    background: var(--bg-out);
    margin: 0vh 5vh;
}

h1{
    font-size: var(--text-h1);
}
h2{
    font-size: var(--text-h2);
}
h3{
    font-size: var(--text-h3);
}
h4{
    font-size: var(--text-h4);
}
h5{
    font-size: var(--text-h5);
}
h6{
    font-size: var(--text-h6);
}
p{
    font-size: var(--text-para);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}


input{
    width: 100%;
    padding: var(--space-sm) var(--space-md);
    font-size: var(--text-h4);
    background-color: rgb(229, 229, 229);
    color: var(--bg-dark);
    border-radius: 30px;
    border: .5px solid var(--border);
    box-shadow: var(--shadow);
}
.btn{
    padding: var(--space-sm) var(--space-md);
    font-size: var(--text-h5);
    background-color: var(--brand-primary);
    border-radius: 30px;
    border: none;
    box-shadow: var(--brand-shadow);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: var(--highlight);
}

.todo-app{
    height: 90vh;
    width: 100%;
    flex-direction: column;
    gap: var(--space-3xl);
    border: var(--border-card);
    padding: var(--space-3xl);
    border-radius: var(--border-radius-3xl);
    background-color: var(--bg-dark);
    position: relative;
}
.modes{
    position: absolute;
    right: 10px;
    top: 50px;
}
.modes i {
    font-size: var(--text-h6);
    background-color: var(--bg);
    color: var(--highlight);
    /* height: 30px;
    width: 30px; */
    width: 50%;
    border-radius: var(--space-2xl);
    padding: var(--space-md);
    text-align: center;
    cursor: pointer;
}


.logo-section{
    gap: var(--space-lg);
}
.logo{
    color: var(--highlight);
}
.logo-icon{
    width: 50px;
}
.input-section{
    width: 80%;
    gap: var(--space-3xl);
    background-color: var(--bg-light);
    padding: var(--space-xl) var(--space-3xl);
    border-radius: var(--border-radius-3xl);
    border: var(--border-card);
}

.todo-section{
    background-color: var(--bg-light);
    border: var(--border-card);
    border-radius: var(--border-radius-2xl);
    height: 55vh;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.list-container{
    /* background-color: beige; */
    flex-direction: column;
    width: 100%;
    padding: var(--space-2xl);
}

li{
    background-color: var(--bg-xlight);
    color: var(--bg-dark);
    cursor: pointer;
    padding: var(--space-md) var(--space-lg);
    margin-bottom: var(--space-sm);
    word-wrap: break-word;
    border-radius: 20px;
    transition: all .1s ease-in-out;
    width: 100%;
    box-shadow: var(--shadow);
    font-size: var(--text-h5);
    user-select: none;
    gap: var(--space-3xl);
    position: relative;
    box-shadow: var(--brand-shadow);
}

li::before{
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-sm);
    background-image: url(./assets/unchecked.png);
    width: 23px;
    height: 23px;
    margin-right: 100px;
}
li::after{
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: var(--border-radius-sm);
    background-image: url(./assets/checked.png);
    width: 23px;
    height: 23px;
}

li span{
    position: absolute;
    right: 18px;
    top: 15px;
    /* width: 23px;
    height: 23px; */
    padding: var(--space-xs) var(--space-md);
    font-size: var(--text-h6);
    border-radius: var(--border-radius-md);
    background-color: var(--brand-primary);
    color: var(--highlight);
    text-align: center;
}
li span:hover{
    background-color: var(--brand-secondary);

}

li.checked::before{
    background-image: url(./assets/checkbox.png);
}

li.checked h5{
    text-decoration: line-through;
    color: var(--text-muted);
}

li h5{
    margin-inline: 40px;
    color: var(--text);
}

.empty-text{
    color: var(--text-muted);
    text-align: center;
    /* display: none; */
    transition: opacity 0.3s ease;
    margin-top: var(--space-3xl);
}

.hidden {
    display: none;
}
